<footer>
    <section class="bottom-l">
        <h2>Find us around the web!</h2>
        <p class="links">
            <a href="https://soundcloud.com/survivalcheck" target="_blank"><img
                    src="assets/orange_white_64-94fc761.png"></a>
            <a href="https://www.instagram.com/survivalcheckshow/" target="_blank"><img
                    src="assets/Instagram_AppIcon_Aug2017.png"></a>
            <a href="https://www.youtube.com/channel/UCcy6WP0aF5JSOe3gmNAStqQ" target="_blank"><img
                    src="assets/youtube_social_squircle_red.png"></a>
        </p>
        <p class="top-button"><a href="#top">TOP</a></p>
    </section>
    <section class="bottom-m">
        <h2>Make your own article with our template!</h2>

        <a href="DnD_World_Setting_Site_template.html" class="download-button">Template</a>


    </section>
    <section class="bottom-r">
        <h2>Contact Us Here!</h2>
        <p>Want to add value to this campaign setting?</p>
        <form method="POST" action="mailto: tevisreilly1@hotmail.com">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your first name.." required>
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>
            <label for="email">Your Email Address</label>
            <input type="text" id="email" name="email" placeholder="you@something.net" required>
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"
                required></textarea>
            <input type="submit" value="Submit">
        </form>
    </section>

</footer>