<nav id="nav-bar">

    <img class="logo" src="/assets/border.png">

    <a class="world-name" href="/wiki/home">The Continent of Forene</a>


    <div class="nav-container">
        <div class="dropdown">
            <a href="/wiki/home"> Home </a>
        </div>
        <div class="dropdown">
            <a href="#"> Bestiary</a>

        </div>

        <div class="dropdown">
            <a href="/wiki/races">Races</a>
            <div class="dropdown-content">
                <a href="#">Humans</a>
                <a href="#">Dwarves</a>
                <a href="#">Elves</a>
                <a href="#">Orcs</a>
                <a href="#">Gnomes</a>
                <a href="#">Halflings</a>
                <a href="/wiki/races#hafies">Hafies</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#"> Geography</a>
            <div class="dropdown-content">
                <a href="#">The Human Realms</a>
                <a href="#">The Elven Domains</a>
                <a href="#">The Dwarven Holds</a>
                <a href="#">The Orcish Wastes</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#">History</a>
        </div>
        <div class="dropdown">
            <a href="#"> Pantheons</a>
            <div class="dropdown-content">
                <a href="pantheons.html#">The Gods of the Empire</a>
                <a href="pantheons.html#">The Convent of the Commons</a>
                <a href="pantheons.html#">The Old Gods</a>
                <a href="pantheons.html#">Elven Gods</a>
                <a href="pantheons.html#">Dragon Gods</a>
                <a href="pantheons.html#">Orcish Gods</a>
                <a href="pantheons.html#">Dwarven Gods</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#"> Organizations</a>
            <div class="dropdown-content">
                <a href="organizations.html#">The Black Order</a>
                <a href="organizations.html#">Sycamore Circle</a>
                <a href="organizations.html#">The Khelen Monestary</a>
                <a href="organizations.html#">Nobody</a>
            </div>
        </div>
    </div>
    {{!-- <div class="dropdown" id="menu-bars">
        <a href="#" class="responsive"><img src="assets/menu-bars.png"></a>
        <div class="dropdown-content">
            <a href="#" class="mobile-dropdown">Home</a>
            <a href="#" class="mobile-dropdown">Bestiary</a>
            <a href="#" class="mobile-dropdown">Races</a>
            <a href="#" class="mobile-dropdown">Geography</a>
            <a href="#" class="mobile-dropdown">History</a>
            <a href="#" class="mobile-dropdown">Pantheons</a>
            <a href="#" class="mobile-dropdown">Organizations</a>
        </div>
    </div> --}}

</nav>