<nav id="nav-bar">

    <img class="logo" src="./assets/border.png">

    <a class="world-name" href="/wiki/home">The Continent of Forene</a>


    <div class="dropdown" id="menu-button">
        <a href="index.html" id="menu-button"> Home </a>
    </div>
    <div class="dropdown" id="menu-button">
        <a href="creatures_env.html" id="menu-button"> Bestiary</a>

    </div>
    <div class="dropdown" id="menu-button">
        <a href="races.html" id="menu-button">Races</a>
        <div class="dropdown-content">
            <a href="races.html#humans">Humans</a>
            <a href="races.html#dwarves">Dwarves</a>
            <a href="races.html#elves">Elves</a>
            <a href="races.html#orcs">Orcs</a>
            <a href="races.html#gnomes">Gnomes</a>
            <a href="races.html#halflings">Halflings</a>
            <a href="races.html#hafies">Hafies</a>
        </div>
    </div>
    <div class="dropdown" id="menu-button">
        <a href="geography.html" id="menu-button"> Geography</a>
        <div class="dropdown-content">
            <a href="human_realms.html">The Human Realms</a>

            <!-- Coming soon pages -->
            <a href="#">The Elven Domains</a>
            <a href="#">The Dwarven Holds</a>
            <a href="#">The Orcish Wastes</a>
        </div>
    </div>
    <div class="dropdown" id="menu-button">
        <a href="history.html" id="menu-button">History</a>
    </div>
    <div class="dropdown" id="menu-button">
        <a href="pantheons.html" id="menu-button"> Pantheons</a>
        <div class="dropdown-content">
            <a href="pantheons.html#">The Gods of the Empire</a>
            <a href="pantheons.html#">The Convent of the Commons</a>
            <a href="pantheons.html#">The Old Gods</a>
            <a href="pantheons.html#">Elven Gods</a>
            <a href="pantheons.html#">Dragon Gods</a>
            <a href="pantheons.html#">Orcish Gods</a>
            <a href="pantheons.html#">Dwarven Gods</a>
        </div>
    </div>
    <div class="dropdown" id="menu-button">
        <a href="organizations.html" id="menu-button"> Organizations</a>
        <div class="dropdown-content">
            <a href="organizations.html#">The Black Order</a>
            <a href="organizations.html#">Sycamore Circle</a>
            <a href="organizations.html#">The Khelen Monestary</a>
            <a href="organizations.html#">Nobody</a>
        </div>
    </div>
    <div class="dropdown" id="menu-bars">
        <a href="#" class="responsive"><img src="assets/menu-bars.png"></a>
        <div class="dropdown-content">
            <a href="index.html" class="mobile-dropdown">Home</a>
            <a href="creatures_env.html" class="mobile-dropdown">Bestiary</a>
            <a href="races.html" class="mobile-dropdown">Races</a>
            <a href="geography.html" class="mobile-dropdown">Geography</a>
            <a href="history.html" class="mobile-dropdown">History</a>
            <a href="pantheons.html" class="mobile-dropdown">Pantheons</a>
            <a href="organizations.html" class="mobile-dropdown">Organizations</a>
        </div>
    </div>

</nav>