@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html {
    background-image: url("../assets/Forene_Map.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.wiki-site-wrapper {
    margin-top: 5%;
    display: grid;
    grid-template-areas: "nav nav nav nav nav nav" "left left left left left right";
    grid-gap: 0;
    height: 90%;
    background-color: rgba(255, 235, 212, 0.85);

    nav {
        grid-column: 1 / 7;
        display: grid;
        grid-template-areas: "logo title title title title title title title" "logo nav nav nav nav nav nav nav";
        justify-content: left;
        font-weight: bold;
        height: 120px;
        background-position: bottom right;
        background-repeat: no-repeat;
        border-bottom: 2px inset brown;
        background-image: linear-gradient(
                to right,
                rgb(216, 175, 128),
                rgba(216, 175, 128, 0.5),
                rgba(216, 175, 128, 0.1)
            ),
            url("../assets/banner.jpg");

        img {
            grid-row: 1 / 3;
            padding: 5px;
            margin: auto;
            width: 100%;
            text-decoration: none;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            color: black;
        }
        .world-name {
            grid-column: 2 / 9;
            font-size: 1.75em;
            margin: 0 0 0 0;
            padding-top: 2%;
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: black;
        }
        .dropdown {
            position: relative;
            display: inline-block;
            margin-left: 5px;

            a {
                display: inline-block;
                text-align: left;
                font-size: 18px;
                color: black;
                padding: 5px;
                background-color: rgba(255, 215, 170, 1);
                border: 3px outset brown;
                text-decoration: none;
            }
            a:hover {
                background-color: #a78861;
                border: 3px inset rgb(165, 42, 4);
            }

            .dropdown-content {
                display: none;
                height: 0px;
                position: absolute;
                z-index: 1;

                a {
                    font-size: small;
                    text-align: center;
                    width: 100%;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    border: 3px outset rgb(165, 42, 4);
                }
            }
            .dropdown:hover .dropdown-content {
                display: block;
            }
        }
        #menu-bars {
            display: none;
        }
    }

    .page-title {

    }
}
