<div class="page-title-container">
    <h1 class="page-title">Home</h1>
    <hr class="page-header-separator">

</div>
<div class="main-page-left" id="main-index">
    <blockquote class="quote">
        "Who knows what secrets this world holds, but some things may be best left a secret.
        This
        world
        is
        indubitably threatening, but looks can be deceiving at times."
    </blockquote>
    <blockquote class="author">
        - <b>Artemon Fox</b>, inventor, scientist, philanthroper
    </blockquote>
    {{#each articles as |article|}}
    <article class="article-container">
        <h1 class="article-title">{{title}}</h1>
        {{#each images as |image|}}
        <figure class="article-pic-right row">
            <img src="/assets/{{title}}">
            <figcaption>{{description}}</figcaption>
        </figure>
        {{/each}}
        <p>
            {{articleText}}
        </p>
    </article>
    {{/each}}
</div>
{{> home-aside}}