<h1 class="page-title">Home</h1>


<hr class="page-header-separator">

<div class="main-page-left" id="main-index">


    <blockquote class="quote">
        "Who knows what secrets this world holds, but some things may be best left a secret.
        This
        world
        is
        indubitably threatening, but looks can be deceiving at times."
    </blockquote>
    <blockquote class="author">
        - <b>Artemon Fox</b>, inventor, scientist, philanthroper
    </blockquote>


    <article class="article-container">
        <h1 class="article-title">
            The Geography of Forene
        </h1>

        <figure class="article-pic-left">
            <img src="assets/Forene Topographical.jpg">
            <figcaption>Illustration of Forene</figcaption>
        </figure>
        <p>
            The ancient continent of Forene is vast, and contains a large variety of creatures.
            At
            the
            center of
            the
            continent lies an immense volcano with mountain ranges jutting out from it like
            veins,
            carving
            out
            the
            kingdoms themselves. Three large peninsulas line the southern region. The Western
            Plains
            and
            the
            regions
            north of it, up until the Kragdrench Canal, consist of four human kingdoms, who have
            been
            warring
            and
            quarrelling with one another for as long as history. The Western Deserts are
            occupied by
            bestial
            creatures, such as Orcs, Goblins, Hobgoblins, Bugbears, and others. The two southern
            peninsulas
            are
            where the elves, and halflings live, a relatively peaceful region as the elves
            prefer a
            more
            diplomatic
            approach to conflicts. In the frigid and harsh northern regions live the Dwarves,
            master
            craftsmen
            and
            stubborn as the metal they bend.

        </p>
    </article>

    <article class="article-container">

        <h1 class="article-title">Featured Article</h1>

        <figure class="article-pic-right row">
            <img src="assets/durglagh.png">
            <figcaption>Secrets bubble underneath these roots</figcaption>
        </figure>
        <p>
            The swampy regions of Durglagh lie just beyond the Sea of Passwell, named after the
            city
            that
            connects
            Durglagh to Eleron. Durglagh has a bloody history. Switching between being a vassal
            of
            Eleron
            and
            The
            Torwoods, the people have had enough and just recently found a shaky peace and an
            unstable
            independence.
            The only reason their state exists is by the sanction of the Dragon's Moot, a
            meeting of
            the
            great
            nations on the continent. The Lord of these lands, [to be named] is a proud son of a
            bitch.
            Lots
            of
            secrets bubble underneath these bogs.
        </p>
    </article>
    <article class="article-container">

        <h1 class="article-title">News of the Realm!</h1>

        <h2 id="home-news-headline"> Newly declared King of Durglagh, Wendrake Addington, to
            feast with the Lords of the
            Torwoods
            this
            Festifmar!</h2>

        <p id="home-news">
            In a stunning move for the newly crowned statesmen he opts for diplomacy, rather
            than
            rile
            up a
            ruckus;
            a peacekeeper, he is. The Emperor has sent his most trusted diplomat,
            Emile Brack, to aid the green King in his attempt to cool the tensions between him
            and
            his
            former
            sovereigns, The Lords of the Torwoods. The Treaty of Alderwick will initiate an
            indefinite
            truce
            between
            the Empire
            and the Nordlings. Godspeed to Emile, and as always, Godspeed to The Empire!
        </p>
    </article>
    <article class="article-container">

        <h1 class="article-title">Featured Image</h1>

        <figure id="featured-image">
            <img src="assets/khelen.jfif">
            <figcaption>Master Aria Torm on her way into the Monastary Khelen as an apprentice
            </figcaption>
        </figure>
    </article>
</div>

<div class="main-page-right">
    <article class="article-container">
        <h1 class="article-title">
            Welcome to the DMs Guide to Forene!
        </h1>
        <p>
            This site will tell you everything you need to know about this campaign setting. Cities
            to start in, sites to go see, and fantastical creatures to meet.
        </p>
    </article>
</div>

</div>
<footer>
    <article class="bottom-l">
        <h2>Find us around the web!</h2>
        <p class="links">
            <a href="https://soundcloud.com/survivalcheck" target="_blank"><img
                    src="assets/orange_white_64-94fc761.png"></a>
            <a href="https://www.instagram.com/survivalcheckshow/" target="_blank"><img
                    src="assets/Instagram_AppIcon_Aug2017.png"></a>
            <a href="https://www.youtube.com/channel/UCcy6WP0aF5JSOe3gmNAStqQ" target="_blank"><img
                    src="assets/youtube_social_squircle_red.png"></a>
        </p>
        <p class="top-button"><a href="#top">TOP</a></p>
    </article>
    <article class="bottom-m">
        <h2>Make your own article with our template!</h2>

        <a href="DnD_World_Setting_Site_template.html" class="download-button">Template</a>


    </article>


    <article class="bottom-r">
        <h2>Contact Us Here!</h2>
        <p>Want to add value to this campaign setting?</p>
        <form action="mailto: tevisreilly1@hotmail.com" method="POST" enctype="multipart/form-data">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your first name.." required>
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>
            <label for="email">Your Email Address</label>
            <input type="text" id="email" name="email" placeholder="you@something.net" required>
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"
                required></textarea>
            <input type="submit" value="Submit">
        </form>
    </article>

</footer>
</main>

<script type="text/javascript" src="javascript.js"></script>
</body>



</html>